.container{
    width: 40%;
    height: 80%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    border: solid 2px;
    margin-top: 5%;
    background-image: url(assets/yellow-notebook-paper-background-design-template-d7dfa26f8c8c759652e2521f0ecd24eb_screen.jpg);
    
}

#todolist{
 font-size: 20px;


}


html{
 min-height: 100vh;
 font-family:monospace;
 font-size: ;
 background-color: rgba(255, 178, 102, 0.5);
}

.UI{
    background-color: white;
    width: 90%;
    border-radius: 8px;
    margin: auto;
    padding: 10px;
    border: solid 1px;
    
}


